<?xml version="1.0"?>
<!--
  ~ /*
  ~  * BSD 3-Clause License
  ~  *
  ~  * Copyright (c) 2018, Affirm
  ~  * All rights reserved.
  ~  *
  ~  * Redistribution and use in source and binary forms, with or without
  ~  * modification, are permitted provided that the following conditions are met:
  ~  *
  ~  *  Redistributions of source code must retain the above copyright notice, this
  ~  *   list of conditions and the following disclaimer.
  ~  *
  ~  *  Redistributions in binary form must reproduce the above copyright notice,
  ~  *   this list of conditions and the following disclaimer in the documentation
  ~  *   and/or other materials provided with the distribution.
  ~  *
  ~  *  Neither the name of the copyright holder nor the names of its
  ~  *   contributors may be used to endorse or promote products derived from
  ~  *   this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  ~  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  ~  * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~  * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
  ~  * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~  * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  ~  * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~  * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  */
  -->

<config>
    <modules>
        <Affirm_Telesales>
            <version>1.0.2</version>
        </Affirm_Telesales>
    </modules>
    <global>
        <blocks>
            <affirm_telesales>
                <class>Affirm_Telesales_Block</class>
            </affirm_telesales>
        </blocks>
        <helpers>
            <affirm_telesales>
                <class>Affirm_Telesales_Helper</class>
            </affirm_telesales>
        </helpers>
        <models>
            <affirm_telesales>
                <class>Affirm_Telesales_Model</class>
                <resourceModel>affirm_telesales_mysql4</resourceModel>
            </affirm_telesales>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <telesales>
                    <file>affirm/telesales.xml</file>
                </telesales>
            </updates>
        </layout>
        <routers>
            <telesales>
                <use>standard</use>
                <args>
                    <module>Affirm_Telesales</module>
                    <frontName>telesales</frontName>
                </args>
            </telesales>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <affirm_telesales_order_view_info>
                        <class>affirm_telesales/order_observer_observer</class>
                        <method>getSalesOrderViewInfo</method>
                    </affirm_telesales_order_view_info>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <affirm_telesales_after_order_save_admin>
                        <class>affirm_telesales/order_observer_observer</class>
                        <method>execute</method>
                    </affirm_telesales_after_order_save_admin>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
        </events>
        <layout>
            <updates>
                <telesales>
                    <file>affirm/telesales.xml</file>
                </telesales>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Affirm_Telesales_Adminhtml before="Mage_Adminhtml">Affirm_Telesales_Adminhtml</Affirm_Telesales_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <affirm_telesales>
                <active>0</active>
                <account_mode>sandbox</account_mode>
                <title>Affirm Telesales</title>
                <label_html_custom><![CDATA[<img src="https://cdn-assets.affirm.com/images/blue_logo-transparent_bg.png" width="52" height="16" class="v-middle">&nbsp;Monthly Payments]]></label_html_custom>
                <payment_action>authorize</payment_action>
                <api_key_sandbox />
                <secret_key_sandbox backend_model="adminhtml/system_config_backend_encrypted"/>
                <api_key_production />
                <secret_key_production backend_model="adminhtml/system_config_backend_encrypted"/>
            </affirm_telesales>
        </payment>
    </default>
</config>
